<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About the Band</title>
    <style media="screen">
    html, body{
      background-color: #d1e8f3;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 20px;

      }
      .turq_text{
        color: teal;
      }
      .grey_text{
        color: rgba(142, 140, 140, 0.94);
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="turq_text">About the Group</h1>
      <pre>
        <a href="{% url 'index_view' %}">Homepage</a>
      </pre>
      <p class="turq_text">
        The Christmas Album, "That's Christmas to Me" is the third studio album and second Christmas release of the Accapella group Pentatonix.
        While the group is typically know for their covers of various songs, this album is named after their original piece, "That's Christmas to Me"
        By December 31, 2014 the album became the 4th best selling album by any artist spanning all genres--and is the highest charting Holiday album
        since 1962. The group is composed of 5 members, all of whom provide lead and backup vocals for a given song.
      </p>
        <ul class="list-group">
          <li class="list-group-item"><a href="https://twitter.com/scotthoying?lang=en">Scott Hoying</a> – baritone lead and backing vocals</li>
          <li class="list-group-item"><a href="https://twitter.com/mitchgrassi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Mitch Grassi</a> – tenor lead and backing vocals</li>
          <li class="list-group-item"><a href="https://twitter.com/kirstin_taylor?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Kirstie Maldonado</a> – mezzo-soprano lead and backing vocals</li>
          <li class="list-group-item"><a href="https://twitter.com/Avi_Kaplan?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Avi Kaplan</a> – bass lead and backing vocals</li>
          <li class="list-group-item"><a href="https://twitter.com/KOlusola?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Kevin Olusola</a> – vocal percussion and backing vocals</li>
        </ul>
    </div>
    <p class="grey_text">
      Login to tweet about our page!
    </p>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
    </div>

    <img src="/static/ptx2013.jpg" alt="picture of christmas album cover" />

  </body>
</html>
